  <div class="bg-dark" (click)="status=!status"
  [ngClass]="status ? 'selected-marques' : ''" class="row align-items-center h-100 p-0 m-0 " id="{{marques.name}}">
    <a >
      <img class="img-fluid m-0 p-0" src="{{marques.img}}" alt="{{marques.description}}"/></a>
    <input id="text-{{marques.name}}" class="bg-dark" type="hidden" name="{{marques.name}}">
  </div>
  <div class="bg-dark mx-0 text-white font-weight-light text-uppercase text-center text-shadow">{{marques.name}}</div>
  <div class="nbrVehicules mt-0 bg-dark"><small *ngIf="marques.countBrandAnnounce" class="text-shadow bg-dark">{{marques.countBrandAnnounce}}</small></div>

