<header id="header" class="container-fluid">

  <div class="row m-0">
    <div class="col text-center align-items-center head mx-0 p-0">
      <h3 class=" justify-content-center align-items-center m-auto p-auto display-3 titre m-0 p-auto">
        Centre’Auto’Ccas</h3>
      <p class="display-6 pt-1 slogan1">Un large choix de voitures d'occasion garanties</p>
      <div class="slogan2 d-md-inline">Trouver - Acheter - Rouler <p class="d-block d-md-inline">avec votre véhicule
          en toute Sérénitée</div>
    </div>
  </div>
</header>
