.footer {

  background: linear-gradient(
    to top,
    rgb(33, 37, 41, 1) 0%,
    rgb(33, 37, 41) 50%,
    rgba(33, 37, 41) 100%
  );

  border-bottom: 1px solid rgb(2, 2, 2, 0.4);
  border-top: 1px solid rgb(97, 97, 97, 0.5);
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
p {
  text-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: white;
}
.nav-link{
    color: white;
}
h3{
    text-shadow: 1px 0 3px rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 485px) {
    footer ul{
        padding:15px 0;
border-bottom: 1px solid rgba(255,255,255,1);
    }
  }
