<div class="container-fluid footer justify-content-center align-items-center px-auto mt-2">


    <article class="container row justify-content-around mx-auto">
        <ul class="col-12 col-md-3 text-start">
            <h3 class="fs-4">A propos :</h3>

            <li class="nav-link">
                <a [routerLink]="['/Mentions_Legales']">Mentions
                    légales</a>
            </li>
            <li class="nav-link">
                <a [routerLink]="['/Politiques_De_Confidentialites']">Politiques de
                    confidentialités</a>
            </li>
            <li class="nav-link">
                <a [routerLink]="['/C_G_U']">C.G.U</a>
            </li>
            <li class="nav-link">
                <a [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
        <ul class="col-12 col-md-3 text-start">
            <h3 class="text-start text-md-center fs-4">Retrouvez nous sur :</h3>

            <li class="nav-link">
                <a href="https://fr-fr.facebook.com/" rel="nofollow" class="nav-item"><i
                        class="fab fa-facebook fa-5 me-2"></i>
                    <span class="text-white">Facebook</span></a>
            </li>
            <li class="nav-link">
                <a href="https://twitter.com/?lang=fr" rel="nofollow" class="nav-item"><i
                        class="fab fa-twitter-square fa-5 me-2"></i></a>
                <span class="text-white">Twitter</span>
            </li>
            <li class="nav-link">
                <a href="https://www.instagram.com/?hl=fr" rel="nofollow" class="nav-item"><i
                        class="fab fa-instagram fa-5 me-2"></i></a>
                <span class="text-white">Instagram</span>
            </li>
            <li class="nav-link">
                <a href="https://www.snapchat.com/l/fr-fr/" rel="nofollow" class="nav-item"><i
                        class="fab fa-snapchat fa-5 me-2"></i></a>
                <span class="text-white">Snapchat</span>
            </li>
        </ul>
        <ul class="col-12 col-md-3 text-md-end">
            <h3 class="fs-4">Horaires d'ouvertures</h3>
            <li class="nav-link">Du lundi au vendredi 9h00-12h00 13h30-19h00 </li>
            <li class="nav-link">Le samedi de 9h00 a 19h00 Non-stop</li>
            <li class="nav-link">Dimanche-Lundi : fermé</li>

        </ul>
        <ul class="col-12 col-md-3 text-md-end">
            <h3 class="fs-4">Centre’Auto’Ccas</h3>
            <li class="nav-link">74 rue des allouéttes</li>
            <li class="nav-link">69003 Lyon</li>
            <li class="nav-link">Tel : 06.22.18.34.25</li>
            <li class="nav-link">Email : contact@ccas.fr</li>

        </ul>

    </article>

    <article class="row footer-copyright align-items-center justify-content-center">
        <p class="text-capitalize text-center my-1">© Copyright 2021 develop By Centre’Auto’Ccas</p>
    </article>
