<app-navbar-user></app-navbar-user>
<div class="container-fluid bg-dark text-light p-0">
  <div class="bg-img"></div>
  <h2 class="text-center my-3">Editer une annonce</h2>
  <p class="text-center mb-3">Merci de remplir tous les champs et de présciser le maximum d'information sur le
    véhicule</p>
  <p class="text-center my-md-3">Toutes annonces doivent etre verifiées et confirmées par l'administrateur du site avant
    ajout</p>

  <div class="container px-0">
    <form [formGroup]="editAnnonceForm" (ngSubmit)="submit()" class="row form-group py-3">

      <div class="col col-md-3 form-group">

        <input formControlName="region" type="text"  class="form-control mb-3">
      </div>


      <div class="col col-md-3 form-group">
        <label for="region">Région</label>
        <input id="region"  type="text"  class="form-control mb-3">
      </div>
      <div class="col col-md-3 form-group">
        <label for="brand">Marque</label>
        <input id="brand" type="text" formControlName="brand" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">
        <label for="model">Modele</label>
        <input id="model" type="text" formControlName="model" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">
        <label for="type">Type de véhicule</label>
        <input id="type" type="text" formControlName="typeOfVehicule" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">
        <label for="carburant">Carburant</label>
        <input id="carburant" formControlName="fuel" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group mb-3">
        <label for="kilometre">Kilometre</label>
        <input id="kilometre" formControlName="kilometre" placeholder="Nombre de kilometre (en chiffres)" type="text" class="form-control" name="kilometrage">
      </div>

      <div class="col col-md-3 form-group">
        <label for="annee">Année de mise en circulation</label>
        <input id="annee" type="text" formControlName="year" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">
        <label for="puissance">Puissance fiscale</label>
        <input id="puissance" type="text" formControlName="power" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">
        <label for="boite">Boite de vitesse</label>
        <input id="boite" type="text" formControlName="gearbox" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">
        <label for="portes">Nombre de portes</label>
        <input id="portes"  type="number" formControlName="doors" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">

        <label for="places">Nombre de places</label><input id="places" type="number" formControlName="places" class="form-control mb-3">
      </div>

      <div class="col col-md-3 form-group">
        <label for="garage">Garage</label>
        <input  id="garage" class="form-control mb-3 bg-white">


      </div>

      <div class="col-12 form-group mb-3">
        <label for=description>description</label>
        <textarea id="description" formControlName="description" class="form-control" placeholder="Déscription du véhicule"></textarea>
      </div>

      <div class="col col-md-3 form-group mb-3">
        <label class="input-group-text btn-blue" for="photo1">Ajouter une photo du véhicule</label>
        <input formControlName="photo1" type="file" class="form-control" id="photo1">
      </div>



      <label class="form-check-label">
        <input type="checkbox" formControlName="accept" class="form-check-input">
        J'accepte les conditions
      </label>
      <div class="form-group">
        <button type="submit" class="btn btn-green mt-3">Ajouter l'annonce</button>
      </div>
    </form>


  </div>

</div>
