.navbar,
nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0px;
  padding: 0;
  margin: 0;
  background: linear-gradient(
      to bottom,
      rgba(33, 37, 41, 0.6) 0%,
      rgba(33, 37, 41, 0.9) 50%,
      rgba(33, 37, 41, 1) 100%
    ),
    linear-gradient(
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 1) 100%
    );
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
}
.search_bar {
  display: none;
  opacity: 0;
  z-index: 1500;
}

#search_bar,#search_bar2 {
  display: block;
  padding: 10px;
}

nav a:not(#search_bar,#search_bar2):hover {
  padding-bottom: 3px;
  color: rgba(86, 192, 253, 1) !important;
  transition: 0.5s;
}
.recherche-btn {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -30px;
  padding: 15px 15px;
  border: 1px solid grey;
  background: linear-gradient(
    to bottom,
      rgba(78, 0, 114, 0.7) 0%,
      rgba(78, 0, 114, 0.9) 50%,
      rgba(34, 32, 139, 1) 100%

  );
  color: white !important;
  text-shadow: 0px 1.2px 0.5px rgba(0, 0, 0, 1);
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3);
  z-index: 1500;
}

.recherche-btn:hover {
  padding: 17px 15px;
  background: linear-gradient(
    to bottom,
    rgb(45, 2, 146) 0%,
    rgb(145, 2, 228) 50%,
    rgb(53, 0, 175) 100%
  );
  color: rgb(255, 255, 255) !important;
  border: grey;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 1);
  transition: 0.4s;
}
/**************** style pour changer l'icon burger du component navbar-user + gestion menu ouvert ****************/
.navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border: none;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon {
  transition: all 0.3s ease;
  /* espace de travail pour les ::before et ::after */
  position: relative;
  /* style de la barre du milieu */
  width: 30px;
  height: 2.5px;
  background: rgba(86, 192, 253, 1);
}

/* Style pour les barres du haut et du bas */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  transition: all 0.3s ease;
  content: '';
  position: absolute;
  width: 30px;
  height: 2.5px;
  background: rgba(86, 192, 253, 1);
  left: 0;
}

/* on remonte pour que le before soit au dessus = barre du haut */
.navbar-toggler-icon::before {
  top: -10px;
}

/* on remonte pour que le after soit en dessous = barre du bas */
.navbar-toggler-icon::after {
  top: 10px;
}

/* Quand le menu est ouvert, on veut remplacer le burger par une croix = on cache la barre du milieu et on rotationne (oui, même par écrit je le dis) le pseudo éléments

on se sert du data-attribut aria-expanded à true pour savoir que le menu est ouvert
*/
button[aria-expanded='true'] .navbar-toggler-icon {
  background: transparent;
}

button[aria-expanded='true'] .navbar-toggler-icon::before {
  top: 0;
  transform: rotate(45deg);
}

button[aria-expanded='true'] .navbar-toggler-icon::after {
  top: 0;
  transform: rotate(-45deg);
}

nav {
  justify-items: center;
  height:50px
}

nav li {
  list-style: none;
}

.navbar-collapse {
  flex-grow: unset;
}

nav a {
  color: white;
}

.search_bar {
  display: none;
  opacity: 0;
  top: 35px;
  position: sticky;
  z-index: 800;
}

#search_bar,#search_bar2 {
  display: block;
  z-index: 2500;
  font-size: 1rem;
  padding: 10px;
}
a{
  text-decoration: none;
  color:white;
  text-wrap: none;
}
nav a:not(#search_bar,#search_bar2):hover {
  padding-bottom: 3px;
  color: rgba(86, 192, 253, 1) !important;
  transition: 0.5s;
  text-decoration: none;
}

#forget:hover {
  color: rgba(86, 192, 253, 1) !important;
}
.icon-connexion{
  color: rgb(0, 252, 228);

}
.icon-deconection{
  color: rgb(255, 0, 50);

}
