<!--Main-->
<app-annonces></app-annonces>
<main class="container-fluid justify-content-center mx-0 px-0 g-0">
  <section id="presentation" class="container-fluid row justify-content-between align-items-stretch py-5 mx-auto">
    <article class="col-12 col-md-6 col-lg-3 text-center p-2 justify-self-stretch">
      <aside id="presentation1" class="h-100 justify-self-stretch">
        <h2>1. CHOISISSEZ</h2>
        <p class="">Parmi plus de 200 véhicules sélectionnées et contrôlées par nos services</p>
      </aside>
    </article>
    <article class="col-12 col-md-6 col-lg-3 text-center p-2 justify-self-stretch">
      <aside id="presentation2" class="h-100 justify-self-stretch">
        <h2>2. CONSULTEZ</h2>
        <p class="">Des annonces en ligne avec un rapport complet et détaillé du véhicule, vous
          trouverez également son
          historique avec la
          garantie du prix le plus bas.</p>
      </aside>
    </article>
    <article class="col-12 col-md-6 col-lg-3 text-center p-2 justify-self-stretch">
      <aside id="presentation3" class="h-100 justify-self-stretch">
        <h2>3. RÉSERVEZ</h2>
        <p class="">Vous avez la possibilité de poser une option et de souscrire en ligne à nos
          multiples services :
          financement, livraison
          depuis la rubrique contact mail en haut de page.</p>
      </aside>
    </article>
    <article class="col-12 col-md-6 col-lg-3 text-center p-2 justify-self-stretch">
      <aside id="presentation4" class="h-100 justify-self-stretch">
        <h2>4. ROULEZ </h2>
        <p class="">EN TOUTE SÉRENITÉE ..., toute notre expérience pour vous assurer la fiabilité et un service de
          qualité
          au meilleur prix….</p>
      </aside>
    </article>
  </section>
  <section class="container-fluid text-center my-3 p-0 mx-0 pub shadow-5 presentation2">

    <h2 class="fs-1 text-white titre_pub">Achetez votre véhicule d'occasion au meilleur prix</h2>
    <h3 class="py-2 titre_pub_purple">Centre’Auto’Ccas c'est plus de 200 véhicules et 36 marques de prestige.</h3>
    <p class="py-2 text-white">-- Certifié par nos experts et garantis 6 mois nos véhicules sont en toute
      confiance --</p>
    <ul class="row d-flex justify-content-around m-0 p-0">
      <li class="col-12 col col-md-12 col-lg-4 text-center w-33">
        <div class="d-block align-items-center m-auto mb-2">
          <img class="acheter" src="../../assets/vehicule2.png" alt="véhicules">
          <h2 class="titre_pub ms-2"> 5 980 véhicules</h2>
        </div>
        <p class="text-light mx-5">Sélectionnées pour vous, partout en France, pour vous offrir le plus grand choix.</p>
      </li>
      <li class="col-12 col col-md-12 col-lg-4 text-center w-33">
        <div class="d-block align-items-center m-auto mb-2">
          <img class="acheter" src="../../assets/garage.jpg" alt="Professionnels">
          <h2 class="titre_pub ms-2">800 professionnels</h2>
        </div>
        <p class="text-light mx-5">Séléctionés ,et reconnus pour leur sérieux , la qualité de leurs voitures et le
          service a leurs clients.</p>
      </li>
      <li class="col-12 col col-md-12 col-lg-4 text-center w-33 p-0 m-0">
        <div class="d-block align-items-center m-auto mb-2">
          <img class="acheter" src="../../assets/acheteurs2.jpg" alt="Acheteurs">
          <h2 class="titre_pub ms-2">1 200 acheteurs / mois</h2>
        </div>
        <p class="text-light text-light mt-2 mx-5">Nous on fait confiance et ont trouvé leur nouveau véhicule grace a
          notre site.</p>
        <p class="text-light mx-5">Alors pourquoi pas vous !</p>

      </li>
    </ul>


  </section>
  <section id="dernier_vehicule" class="mb-3">
    <article class="container-fluid row mx-0 px-0 ">
      <h2 class="text-center titre_pub pub my-0 presentation2">NOTRE SÉLECTION DE VÉHICULES D'OCCASION ...</h2>
      <div class="contour text-center py-3 px-5">
        <P class="purple mt-3 mb-2">Sur <strong>Centre’Auto’Ccas.fr</strong>, retrouvez de nombreux modèles de voitures
          d'occasion
          à vendre
          parmi
          les plus grands constructeurs :
          Renault, Peugeot, Citroën, Tesla, Mercedes, Bmw </P>
        <ul class="d-flex row list-unstyled">
          <li class="col-6 col-lg-2  m-0 p-auto"><img class="petit-logo" src="../../assets/logo/logo-renault.png"
              alt="logo renault"></li>
          <li class="col-6 col-lg-2  m-0 p-auto"><img class="petit-logo" src="../../assets/logo/logo-Peugeot.png"
              alt="logo Peugeot"></li>
          <li class="col-6 col-lg-2  m-0 p-auto"><img class="petit-logo" src="../../assets/logo/logo-Citroen.png"
              alt="logo Citroen"></li>
          <li class="col-6 col-lg-2  m-0 p-auto"><img class="petit-logo" src="../../assets/logo/logo-tesla.png"
              alt="logo Tesla"></li>
          <li class="col-6 col-lg-2  m-0 p-auto"><img class="petit-logo" src="../../assets/logo/logo-mercedes.png"
              alt="logo Mercedes"></li>
          <li class="col-6 col-lg-2  m-0 p-auto"><img class="petit-logo" src="../../assets/logo/logo-bmw.png"
              alt="logo Bmw">
          </li>
        </ul>
        <p class="purple mb-3 mt-2">Et bien plus de marques de concessionnaires, révisées, garanties et
          immédiatement disponibles.</p>
      </div>

    </article>
  </section>
</main>
