<section class="row navUser gx-0 bg-dark">
  <article class="col-12 col-md-6">
    <ul class="nav nav-tabs justify-content-start me-auto border-0">
      <li class="nav-item">
        <button [routerLink]="['/connectedUser']" class="btn btn-blue m-1">Menu principal</button>
      </li>
      <li class="nav-item">
        <button [routerLink]="['/vehiculesUser']" class="btn btn-blue m-1">Véhicules</button>
      </li>
      <li class="nav-item">
        <button [routerLink]="['/garagesUser']" class="btn btn-blue m-1">Garages</button>
      </li>
      <li class="nav-item">
        <button [routerLink]="['/annoncesUser']" class="btn btn-blue m-1">Annonces</button>
      </li>
      <li class="nav-item">
        <button [routerLink]="['/annoncesByGarage']" class="btn btn-blue m-1">Annonces par garage</button>
      </li>
    </ul>
  </article>
  <article class="col-12 col-md-6 mx-0 px-0 ">
    <ul class="nav nav-tabs justify-content-end ms-auto border-0">
      <li class="nav-item">
        <button [routerLink]="['/addGarageUser']" class="btn btn-green m-1">Ajouter un garage</button>
      </li>
      <li class="nav-item">
        <button [routerLink]="['/addAnnonceUser']" class="btn btn-green m-1">Ajouter une annonce</button>
      </li>

    </ul>
  </article>
</section>
