.bg-img{
  background: linear-gradient(to top,
    rgba(200, 12, 151, 0.7) 0%,
    rgba(86, 192, 253, 0.8) 100%),
  url('../../../assets/garage/add_garage.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(2, 2, 2, 0.4);
  height: 250px;
  magin:0;
  padding:0;
}
h2 {
  text-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
p{
  text-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
.btn-blue{
  background: linear-gradient(
      to bottom,
      rgb(78, 0, 114) 0%,
      rgb(34, 32, 139) 100%
  );
  color:white;
}
