.bg-img{
  background-size: cover;
  background: linear-gradient(to top,
    rgba(200, 12, 151, 0.7) 0%,
    rgba(86, 192, 253, 0.8) 100%), url('../../../../assets/garage/add_garage.jpg') no-repeat bottom center;
  border-bottom: 1px solid rgb(2, 2, 2, 0.4);
  height: 250px;
  margin:0;
  padding:0;
}
