<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center mx-auto">
  <div class="container-fluid">
    <a class="d-md-none navbar-brand" >Menu Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-block d-md-flex justify-content-center">


  <li class="nav-item">
    <a [routerLink]="['/connectedUser']" class="btn btn-purple">Menu principal</a>
  </li>


  <li class="nav-item">
    <a [routerLink]="['/vehiculesUser']" class="btn btn-purple">Véhicules</a>
  </li>
  <li class="nav-item">

      <a [routerLink]="['/garagesUser']" class="btn btn-purple">Garages</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/annoncesUser']" class="btn btn-purple">Annonces</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/annoncesByGarage']" class="btn btn-purple">Annonces par garage</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/liste']" class="btn btn-blue">Utilisateurs</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/addGarageUser']" class="btn btn-green">Ajouter un garage</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/addAnnonceUser']" class="btn btn-green">Ajouter une annonce</a>
  </li>
    <li class="nav-item">
      <a [routerLink]="['/addUser']" class="btn btn-green">Ajouter un utilisateur</a>
    </li>

</ul>
  </div>
  </div>
</nav>

