<section class="container-fluid navUser gx-0 gy-0">
  <ul class="nav nav-tabs bg-transparent justify-content-around my-2">

  <li class="nav-item">
    <a [routerLink]="['/connectedUser']" class="nav-link text-white border-end border-white btn-purple d-flex align-items-center px-4" href="#"><mat-icon class="text-white">home</mat-icon>Menu principal</a>
  </li>


  <li class="nav-item">
    <a [routerLink]="['/vehiculesUser']" class="nav-link text-white border-end border-white btn-blue d-flex align-items-center px-2" href="#"><mat-icon class="text-white">garage</mat-icon>Véhicules</a>
  </li>
  <li class="nav-item">

      <a [routerLink]="['/garagesUser']" class="nav-link text-white border-end border-white btn-blue d-flex align-items-center px-2" href="#"><mat-icon class="text-white">emoji_transportation</mat-icon>Garages</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/annoncesUser']" class="nav-link text-white border-end border-white btn-blue d-flex align-items-center px-2" href="#"><mat-icon class="text-white">announcement</mat-icon>Annonces</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/annoncesByGarage']" class="nav-link text-white border-end border-white btn-blue d-flex align-items-center px-2" href="#"><mat-icon class="text-white">taxi_alert</mat-icon>Annonces par garage</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/liste']" class="nav-link text-white border-end border-white btn-blue d-flex align-items-center px-2" href="#"><mat-icon class="text-white">account_circle</mat-icon>Utilisateurs</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/addGarageUser']" class="nav-link text-white border-end border-white btn-green d-flex align-items-center px-2" href="#"><mat-icon class="text-white">add_business</mat-icon>Ajouter un garage</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/addAnnonceUser']" class="nav-link text-white border-end border-white btn-green d-flex align-items-center px-2" href="#"><mat-icon class="text-white">garage</mat-icon>Ajouter une annonce</a>
  </li>
    <li class="nav-item">
      <a [routerLink]="['/addUser']" class="nav-link text-white border-end border-white btn-green d-flex align-items-center px-2" href="#"><mat-icon class="text-white">person_add_alt</mat-icon>Ajouter un utilisateur</a>
    </li>

</ul>
  </section>

