


.btn-blue{
  background: linear-gradient(
      to bottom,
      rgb(81, 115, 134) 30%,
      rgb(1, 7, 38) 100%
  );
  color:white;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  border-radius:5px;
  margin:5px 5px;
  font-size:15px;
}
.btn-purple{
    background: linear-gradient(
        to top,
        rgb(49, 29, 68) 0%,
        rgb(86, 85, 138) 100%
    );
    color:white;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  margin:5px 5px;
  border-radius:5px;
  font-size:15px;
  }
.btn-red{
  background: linear-gradient(
      to top,
      rgb(84, 1, 1) 0%,
      rgb(115, 27, 27) 100%
  );
  color:white;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  margin:5px 5px;
  border-radius:5px;
  font-size:15px;
}
  .btn-green{
    background: linear-gradient(
        to bottom,
        rgb(3, 148, 22) 30%,
        rgb(8, 38, 1) 100%
    );
    color:white;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    border-radius:5px;
    margin:5px 5px;
    font-size:15px;
  }



