<app-navbar-user></app-navbar-user>
<div class="container-fluid bg-dark text-light p-0">
  <div class="bg-img m-0">
    <div class="align-items-center py-auto">
  <h2 class="text-center pt-5 pb-3 fs-1">Ajouter une annonce</h2>
  <p class="text-center pb-2">Merci de remplir tous les champs et de présciser le maximum d'information sur le
    véhicule</p>
  <p class="text-center py-md-2">Toutes annonces doivent etre verifiées et confirmées par l'administrateur du site avant
    ajout</p>
    </div>
</div>
  <div class="container px-0">
    <form [formGroup]="addForm" (ngSubmit)="addAnnonce()" class="row form-group py-3">

      <div class="col col-md-3 form-group">
        <select id="region" formControlName="region" class="form-select mb-3" name="region">
          <option value="" disabled>Séléctionner votre région</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{ region.name}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="marque" formControlName="brand" (change)="selectMarques($event)" class="form-select mb-3"
                name="brand">
          <option value="" disabled>Marque du véhicule</option>
          <option *ngFor="let marque of marques" value="{{marque.id}}">{{ marque.name}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="model" formControlName="model" class="form-select mb-3" name="model">
          <option value="" disabled>Modèle du véhicule</option>
          <option *ngFor="let selectedModel of selectedModels" value="{{selectedModel.modelId}}"
                  selected>{{selectedModel.brand}} - {{selectedModel.model}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="type" formControlName="typeOfVehicle" class="form-select mb-3" name="type">
          <option value="" disabled>Type de véhicule</option>
          <option *ngFor="let type of types" value="{{type.name}}">{{ type.name}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="carburant" formControlName="fuel" class="form-select mb-3" name="carburant">
          <option value="" disabled>Type de carburant</option>
          <option *ngFor="let carburant of carburants" value="{{carburant.name}}">{{carburant.name}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group mb-3">
        <input id="kilometre" formControlName="kilometre" placeholder="Nombre de kilometre (en chiffres)" type="number"
               class="form-control" name="kilometrage">
      </div>

      <div class="col col-md-3 form-group">
        <select id="annee" formControlName="year" class="form-select mb-3" name="annee">
          <option value="" disabled>Année de mise en circulation</option>
          <option *ngFor='let in of annee(22) ;let i = index' value="{{i+2000}}">{{i + 2000}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="puissance" formControlName="power" class="form-select mb-3" name="puissance">
          <option value="" disabled>Puissance Fiscale du véhicule en chx</option>
          <option *ngFor='let in of puissance(17) ;let i = index' value="{{i+4}}">{{i + 4}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="boite" formControlName="gearbox" class="form-select mb-3" name="boite">
          <option value="" disabled>Boite de vitesse du véhicule</option>
          <option value="Automatique">Automatique</option>
          <option value="Manuelle">Manuelle</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="portes" formControlName="carDoors" class="form-select mb-3" name="portes">
          <option value="" disabled>Nombre de portes du véhicule</option>
          <option value=3>3</option>
          <option value=5>5</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="places" formControlName="places" class="form-select mb-3" name="places">
          <option disabled>Nombre de place du véhicule</option>
          <option *ngFor='let in of nbPlaces(8) ;let i = index' value="{{i+2}}">{{i + 2}}</option>
        </select>
      </div>

      <div class="col col-md-3 form-group">
        <select id="garage" formControlName="garage" class="form-select mb-3" name="garage">
          <option value="" disabled>Séléctionner votre Garage</option>
          <option *ngFor="let garage of garages" value="{{garage.id}}">{{garage.name}}</option>
        </select>
      </div>

      <div class="col col-md-6 form-group mb-3">
        <input id="titre" type="text" formControlName="title" class="form-control" placeholder="Titre de l'annonce">
      </div>

      <div class="col col-md-3 flex-row form-group justify-content-around p-auto">
        <label class="pe-2">PrimeEco
          <input type="checkbox" formControlName="primeEco">
        </label>
        <label class="ps-2 pe-2">topOccas
          <input type="checkbox" formControlName="topOcass">
        </label>
      </div>
      <div class="col col-md-3 form-group mb-3">
        <input id="prix" type="number" formControlName="price" class="form-control" placeholder="Prix ( en €)">
      </div>



      <div class="col col-md-6 form-group mb-3">
        <input id="modelComplement" type="text" formControlName="modelComplement" class="form-control" placeholder="Déstails complémentaire du véhicule">
      </div>

      <div class="col col-md-6 form-group mb-3">
        <input id="modelComplement2" type="text" formControlName="modelComplement2" class="form-control"
               placeholder="Détails complémentaire du véhicule (suite)">
      </div>

      <div class="col-12 form-group mb-3">
        <textarea formControlName="description" id=description class="form-control"
                  placeholder="Déscription du véhicule" name="description"></textarea>
      </div>

        <div class="container-fluid align-items-center">
      <h2>Envoi tes photos (5 photos maxi par annonce)</h2>
      <app-upload></app-upload>
  </div>

      <label class="form-check-label mt-md-2">
        <input type="checkbox" formControlName="accept" class="form-check-input">
        J'accepte les conditions
      </label>
      <div class="form-group">
        <button type="submit" class="btn btn-green mt-3">Ajouter l'annonce</button>
      </div>
    </form>


  </div>

</div>
