/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "CrossDock_iconSet";
  src: url("./assets/fonts/icomoon/CrossDock_iconSet.eot?e3pg8u");
  src: url("./assets/fonts/icomoon/CrossDock_iconSet.eot?e3pg8u#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/icomoon/CrossDock_iconSet.ttf?e3pg8u")
      format("truetype"),
    url("./assets/fonts/icomoon/CrossDock_iconSet.woff?e3pg8u") format("woff"),
    url("./assets/fonts/icomoon/CrossDock_iconSet.svg?e3pg8u#CrossDock_iconSet")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "CrossDock_iconSet" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/**Icons*/
.icon-user-xs:before {
  content: "\e903";
  font-size: 30px;
  color: #575a5b;
}
.icon-info:before {
  content: "\e920";
  font-size: 30px;
  color: #575a5b;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header {
  background: linear-gradient(
      to top,
      rgba(49, 111, 145, 0.6) 0%,
      rgba(7, 8, 108, 0.5) 100%
    ),
    url(assets/audi_666.jpg);
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(2, 2, 2, 0.4);
  padding-bottom: 150px;
}

#forget:hover {
  color: rgba(86, 192, 253, 1) !important;
}
.connexion {
  background: linear-gradient(
    to bottom,
    rgb(0, 68, 140) 0%,
    rgb(2, 0, 140) 100%
  );
}

.connexion:hover {
  background: linear-gradient(
    to bottom,
    rgba(0, 140, 0, 1) 0%,
    rgba(0, 140, 0, 1) 100%
  );
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
  transition: 0.2s ease-in;
}

/***********sélécteur affiche/masque mdp***********************/
.form-switch .form-check-input {
  width: 1.6em;
  height: 0.8em;
  border-radius: 30em;
  color: rgba(86, 192, 253, 1);
}

.form-check-input:checked {
  background-color: rgba(86, 192, 253, 1);
}
.ui-widget-header {
  background-color: white !important;
}

/*text-color*/
.text-dark-2 {
  color: rgb(10, 10, 27);
}

/**********************************************/
/***************** Media ***********************/
/**********************************************/

@media screen and (min-width: 100px) and (max-width: 767px) {
  .w-33 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 15px 0;
  }
  .w-33:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    padding-top: 15px;
  }
  #search_bar {
    bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .w-33 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 15px 0;
  }
  .w-33:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    padding-top: 15px;
  }
}
@media screen and (min-width: 992px) {
  .carousel-size {
    height: 285px;
    width: 100%;
  }
}

@media screen and (min-width: 100px) and (max-width: 992px) {
}
@media screen and (min-width: 992px) {
  .w-33:nth-child(1),
  .w-33:nth-child(2) {
    border-right: 1px solid rgba(255, 255, 255, 0.8);
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
