<div class="pro">
  <div class="modal-header">
    <a class="d-block d-xs-flex navbar-brand d-lg-none" href="#">Centre’Auto’Ccas</a>
    <aside class="nav-link text-white text-nowrap p-2 m-2"><i class="fas fa-user-tie me-1 pro"></i>Mot de passe oublié ?
    </aside>
  </div>
  <div class="modal-body pro">
    <p class="text-white">Réinitialiser le mot de passe : </p>
    <label for="mail" class="visually-hidden">Entrez votre Email</label>
    <input type="texte" name="mail" size="10" class="form-control  p-2 m-2" id="inputPassword2" placeholder="Email">
    <button class="btn-blue text-nowrap rounded p-2 m-2 connexion" type="button" href="#"><small class="text-white">Réintialiser le mot de passe
        </small></button>
        </div>



  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>

