.annonce {
  margin: 15px;
  color: white;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
/**************Annonces*********************/

/*.annonce img {
  max-height: 300px;
  box-shadow: 1px 2px 2.5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 0 !important;
  border-radius: 0 30% 0% 30%;
}*/
.slogan {
  position: relative;
}
.prime {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 100px solid rgb(2, 187, 2);
  border-right: 100px solid transparent;
  color: white;
  z-index: 1000;
  top: 0px;
  position: absolute;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4);
}

.prime p {
  line-height: 1rem;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 31px;
  text-align: center;
  padding-bottom: 5px;
  padding-right: 2px;
  flex-wrap: wrap;
}
.topOccas {
  height: 0;
  width: 0;
  border-bottom: 75px solid rgb(123, 5, 208);
  border-left: 75px solid transparent;
  color: white;
  z-index: 7;
  bottom: 0;
  right: 0;
  position: absolute;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
}

.topOccas p:nth-child(1) {
  transform: rotate(0deg);
  position: absolute;
  top: 36px;
  right: 5px;
  text-align: center;
  z-index: 7;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4);
}
.topOccas p:nth-child(2) {
  transform: rotate(0deg);
  position: absolute;
  top: 50px;
  right: 5px;
  text-align: center;
  z-index: 7;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4);
}
.annonce h4 {
  margin-top: 20px;
  text-align: left !important;
  display: flex-inline;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
}

.annonce p {
  line-height: 0.5rem;
  flex-wrap: wrap;
}
.annonce .prix {
  font-weight: 700;
  font-family: 'roboto';
  font-size: 1.8rem;
  padding: 5px 5px;
  color: rgb(7, 9, 46);
  background-color: white;
  border: 1px solid rgba(13, 18, 80, 0.4);
  border-radius: 5px;
  box-shadow: 1px 2px 2.5px rgba(0, 0, 0, 0.6);
}
.plusInfos {
  padding: 5px 5px;
  margin: 10px;
  color: white;
  background: linear-gradient(
    to top,
    rgb(51, 2, 87) 0%,
    rgba(51, 2, 87, 0.7) 70%,
    rgb(51, 2, 87) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 2px 2.5px rgba(0, 0, 0, 0.6);
}
.plusInfos:hover {
  padding: 6px;
  transition: 0.4s ease-out;
}
.plusInfos-blue {
  padding: 5px 5px;
  margin: 10px;
  color: white;
  background: linear-gradient(
      to top,
      rgb(2, 74, 87,1) 0%,
      rgb(2, 56, 65) 70%,
      rgb(1, 31, 37) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 2px 2.5px rgba(0, 0, 0, 0.6);
}
.plusInfos-blue:hover {
  background: linear-gradient(
      to top,
      rgb(52, 174, 87,1) 0%,
      rgb(52, 156, 65) 70%,
      rgb(51, 131, 37) 100%
  );
  transition: 0.4s ease-out;
}
.plusInfos-green {
  padding: 5px 5px;
  margin: 10px;
  color: white;
  background: linear-gradient(
      to top,
      rgb(92, 184, 187,1) 0%,
      rgb(92, 186, 165) 70%,
      rgb(91, 181, 137) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 2px 2.5px rgba(0, 0, 0, 0.6);
}
.plusInfos-green:hover {
  background: linear-gradient(
      to top,
      rgb(52, 174, 87,1) 0%,
      rgb(52, 156, 65) 70%,
      rgb(51, 131, 37) 100%
  );
  transition: 0.4s ease-out;
}
.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 175px 150px 0;
  border-color: transparent #185375 transparent transparent;background: linear-gradient(
    to top,
    rgb(51, 2, 87) 0%,
    rgba(51, 2, 87, 0.7) 70%,
    rgb(51, 2, 87) 100%
);
  left:25px;
}
.plusInfos-red {
  padding: 5px 5px;
  margin: 10px;
  color: white;
  background: linear-gradient(
      to top,
      rgb(87, 2, 2) 0%,
      rgb(65, 2, 2) 70%,
      rgb(31, 1, 3) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 2px 2.5px rgba(0, 0, 0, 0.6);
}
.plusInfos-red:hover {
  background: linear-gradient(
      to top,
      rgb(52, 174, 87, 1) 0%,
      rgb(52, 156, 65) 70%,
      rgb(51, 131, 37) 100%
  );
}
.plusInfos-yellow {
  padding: 5px 5px;
  margin: 10px;
  color: white;
  background: linear-gradient(
      to top,
      rgb(220, 196, 1) 0%,
      rgb(153, 155, 4) 70%,
      rgb(138, 161, 4) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 2px 2.5px rgba(0, 0, 0, 0.6);
}
.plusInfos-yellow:hover {
  background: linear-gradient(
      to top,
      rgb(52, 174, 87, 1) 0%,
      rgb(52, 156, 65) 70%,
      rgb(51, 131, 37) 100%
  );
}
