<article [ngClass]="display ? 'd-none' : 'd-block'"
  class=" d-block container-fluid align-items-center justify-content-center m-0 p-0">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <ngb-carousel #carousel class="carousel-size bg-blue-light pt-3">
      <ng-template ngbSlide>

        <article class="container-fluid justify-content-center mx-auto text-center align-items-center px-auto scene">
          <div class="bg-light-body">
            <div [style.transform]="translate" class="col-12 col-md carousel align-items-center justify-content-center">
              <div app-marque [marques]="item" (click)="selectionMarques(index)"
                *ngFor="let item of brands; let index = index" class="carousel__cell select-marque rounded"></div>
            </div>
          </div>
        </article>
        <div class="text-center">
          <a class="mr-1 btn btn-select btn-sm px-5 py-2 precedant-button select-marque text-dark"
            (click)="clickMoreLess(1)">Précedant
          </a>
          <a class="ml-1 btn btn-select btn-sm px-5 py-2 suivant-button select-marque"
            (click)="clickMoreLess(-1)">Suivant
          </a>
          <p class="text-white text-center">Cliquez pour sélectionnez votre ou vos marque(s)</p>
        </div>
        <div class="d-flex">
          <div class="col d-inline">
            <div class="d-none btn btn-sm retour px-3" (click)="prev()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
              </svg>
              Retour
            </div>
          </div>
          <span class="d-none d-md-inline text-white">Rechercher mon véhicule</span><small
            class="text-end text-white text-md-center ms-md-1">( Filtres 1/3 )</small>
          <div class="col d-inline">
            <div class="float-end btn btn-sm page_suivante text-white border-white filtre-suivant m-0" (click)="next()">
              Suivant
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
              </svg>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="container-fluid row m-0 p-0">
          <div class="col-12 d-block d-flex-md col-md-4">
            <ul class="mt-5">
              <li class="row regions w-100">
                <mat-form-field appearance="fill">
                  <mat-label>Régions</mat-label>
                  <mat-select formControlName="region">
                    <mat-option *ngFor="let region of regions" [value]="region.id">
                      {{ region.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
              <li class="row models w-100 mt-2">
                <!--models-->
                <mat-form-field appearance="fill">
                  <mat-label>Modèles</mat-label>
                  <mat-select formControlName="model">
                    <mat-option value="all">Tous</mat-option>
                    <mat-option *ngFor="let model of selectedModels"
                      [value]="{ model:model.modelId,brand:model.brandId }">{{model.brand}}
                      - {{model.model}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </ul>
          </div>
          <div class="col-12 d-block d-flex-md col-md-4">
            <ul class="mt-5">
              <!--Carburant-->
              <li class="row fuel w-100">
                <mat-form-field appearance="fill">
                  <mat-label>Carburant</mat-label>
                  <mat-select class="text-primary" formControlName="fuel">
                    <mat-option value="all">Tous</mat-option>
                    <mat-option value="Electrique">Electrique</mat-option>
                    <mat-option value="Essence">Essence</mat-option>
                    <mat-option value="Diesel">Diesel</mat-option>
                    <mat-option value="Hybride">Hybride</mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
              <li class="row type w-100 mt-2">
                <!--type vehicule-->
                <mat-form-field appearance="fill">
                  <mat-label>Type de Véhicule</mat-label>
                  <mat-select formControlName="typeOfVehicle">
                    <mat-option value="all">Tous</mat-option>
                    <mat-option value="4 X 4">4 X 4</mat-option>
                    <mat-option value="Berline">Berline</mat-option>
                    <mat-option value="Break">Break</mat-option>
                    <mat-option value="Cabriolet">Cabriolet</mat-option>
                    <mat-option value="Citadine">Citadine</mat-option>
                    <mat-option value="Compacte">Compacte</mat-option>
                    <mat-option value="Coupé">Coupé</mat-option>
                    <mat-option value="Monospace">Monospace</mat-option>
                    <mat-option value="Sportive">Sportive</mat-option>
                    <mat-option value="Suv">Suv</mat-option>
                    <mat-option value="Utilitaires">Utilitaires</mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4 align-items-center m-auto p-auto">
            <ul class="mt-1">

              <li class="row type w-100 gb-0">
                <!--Kilometrage Js-->
                <div class="custom-slider kilometre px-1">
                  <mat-label for="kilometrage">Kilometrage</mat-label>
                  <ngx-slider id="kilometrage" class="custom-slider" formControlName="kilometrage"
                    [options]="optionsKilo">
                  </ngx-slider>

                </div>
              </li>
              <li class="row type w-100">
                <!--Année Js-->
                <div class="custom-slider annee px-1">
                  <mat-label for="annee">Année :</mat-label>
                  <ngx-slider id="annee" class="custom-slider" formControlName="years" [options]="optionsYear">
                  </ngx-slider>
                </div>
              </li>
            </ul>

          </div>

        </div>
        <div class="d-block d-md-flex m-0 p-0">
          <div class="col d-inline">
            <div class="btn btn-sm retour px-3" (click)="prev()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
              </svg>
              Retour
            </div>
          </div>
          <span class="d-none d-md-inline text-white">Rechercher mon véhicule</span><small
            class="text-end text-white text-md-center ms-md-1">( Filtres 2/3 )</small>
          <div class="col d-inline">
            <div class="float-end btn btn-sm page_suivante text-white border-white filtre-suivant m-0" (click)="next()">
              Suivant
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
              </svg>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <!--slide 3-1 -->
        <section class="container-fluid row p-auto mx-0 py-auto bg-blue-light">
          <div class="col-md-4 align-items-center text-white">
            <ul class="mt-4">

              <li class="row type w-100 gb-0">
                <!--prix-->
                <div class="custom-slider">
                  <label for="price">Prix</label>
                  <ngx-slider formControlName="prices" id="price" [options]="optionsPrice">
                  </ngx-slider>
                </div>
              </li>
              <li class="row type w-100 gb-0">
                <!--puissance-->
                <div class="form-group custom-slider puissance">
                  <label class="text-white" for="puissance">Puissance fiscale Mini / Maxi:</label>
                  <ngx-slider id="puissance" formControlName="powers" [options]="optionsPower">
                  </ngx-slider>

                </div>
              </li>

            </ul>


          </div>

          <!--slide 3-2-->

          <div class="col-md-4 align-items-center">
            <!--boite-->
            <ul class="mt-5">

              <li class="row type w-100">
                <mat-form-field appearance="fill">
                  <mat-label>Boite de vitesse</mat-label>
                  <mat-select class="text-primary" formControlName="gearbox">
                    <mat-option value="all">Tous</mat-option>
                    <mat-option value="Automatique">Automatique</mat-option>
                    <mat-option value="Manuelle">Manuelle</mat-option>
                  </mat-select>
                </mat-form-field>
              </li>

              <!--portes-->
              <li class="row type w-100 mt-2">
                <mat-form-field appearance="fill">
                  <mat-label>Nombre de portes</mat-label>
                  <mat-select class="text-primary" formControlName="carDoors">
                    <mat-option value="all">Tous</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="5">5</mat-option>
                  </mat-select>
                </mat-form-field>

              </li>
            </ul>
          </div>
          <!--slide 3-3 -->
          <div class="col-md-4 align-items-center">
            <ul class="mt-5">

              <li class="row type w-100">
                <!--places-->
                <mat-form-field appearance="fill">
                  <mat-label>Nombre de places</mat-label>
                  <mat-select class="text-primary" formControlName="places">
                    <mat-option value="all">Tous</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">5</mat-option>
                    <mat-option value="6">6</mat-option>
                    <mat-option value="7">7</mat-option>
                    <mat-option value="8">8</mat-option>
                    <mat-option value="9">9</mat-option>
                  </mat-select>
                </mat-form-field>
              </li>

              <li class="row type w-100">

                <button type="submit" value="rechercher"
                  class="d-block btn btn-lg btn-outline-light d-inline p-2 recherche">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                    class="bi bi-search d-none d-sm-inline" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                  </svg>
                  Lancer la recherche
                </button>

              </li>
            </ul>

          </div>
          <div class="d-flex align-self-center p-auto">
            <div class="col d-inline">
              <div class="btn btn-sm retour px-3" (click)="prev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
                </svg>
                Retour
              </div>
            </div>
            <div class="d-inline">
              <span class="d-none d-md-inline text-white mt-md-5">Rechercher mon véhicule</span>
              <small class="text-end text-white text-md-center ms-md-1">( Filtres 3/3 )</small>
            </div>
            <div class="col d-inline">
              <div class="d-none float-end btn btn-sm page_suivante text-white border-white filtre-suivant m-0"
                (click)="next()">Suivant
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                </svg>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </ngb-carousel>
  </form>
</article>
